@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap');

@fontface {
    font-family: 'Yantramanav', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');
  }
* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;   
}

.projectWrapper{
    font-family: 'Yantramanav', sans-serif;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
    height: 100vh;
    width: 100vh;
}

.project-box{
    height: 100%;
    width: 100%;
}

.project-textBox{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    backface-visibility: hidden; 
}

.project-name{
    font-family: 'Yantramanav', sans-serif;
    display: block;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: .2rem;
    background: url('../../Images/title2.jpg');
    background-size: 100% 100%;
    color:transparent;  
    -webkit-background-clip:text;
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
   
}

.project-text{
    display: flex;
    flex-wrap:wrap;
 
}
.card-container {
    
    position: relative;
    width: 400px;
    height: 250px;
    display: flex;
    border: 2px solid grey !important;
    /* margin: 0 auto; */
    margin-left: 12px;
    margin-top: 12px;
    animation-name: moveInLeft;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;
    
}
  .image {
    width: 100%;
    height: 100%;
    /* // opacity: 0.6;
    // filter: alpha(opacity=60) */
    
  }


  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: orange;
  }
  
  .card-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 50%;
    padding-bottom: 30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .ImgContent {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
   text-align: justify;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }

  .ImgIcon{
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
  }
 
.imgSocial{
    position: relative;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techName{
    color: black;
}

@media only screen and (max-width: 400px) {
    .project-name {
        font-size: 75px;
    }
  
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .project-name {
        font-size: 50px;
    }
    .projectWrapper{
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
    .card-container{
        position: relative;
        height: 180px;
        width: 280px;
        display: flex;
        border: 2px solid grey !important;
        /* margin: 0 auto; */
        margin-left: 12px;
        margin-top: 12px;
    }
    .text{
        font-size: 18px;
    }
    .ImgContent{
        font-size: 11px;
    }
    .ImgIcon{
        font-size: 20px;
    }
    .imgSocial{
        top: 50%;
        left: 50%;
        width: 20%;
    }
  }

  @media (min-width: 961px) and (max-width: 1649px){
    .project-name {
      font-size: 95px;
  }
       .card-container{
        position: relative;
        height: 200px;
        width: 300px;
        display: flex;
        border: 2px solid grey !important;
        /* margin: 0 auto; */
        margin-left: 12px;
        margin-top: 12px;
    } 
  }




