@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap");

@fontface {
  font-family: "Yantramanav", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Yantramanav&display=swap");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.about-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.about-name {
  font-family: "Yantramanav", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  z-index: 10000;
  color: #63bbb4;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Yantramanav", sans-serif;
  letter-spacing: 0.03rem;
  font-size: 1.7em;
  font-weight: 300;
  color: white;
  width: 60vw;

  z-index: 10000;
}

.user {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px #63bbb4 solid;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../../Images/ThiagoProfile.jpg");
  /* -webkit-filter: grayscale(100%); */
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.skill-chart {
  font-size: 5rem;
  width: 100vw;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.icons {
  padding: 1rem;
  color: #5f6061;
  z-index: 100000;
}
.reac:hover {
  color: rgb(140, 211, 242);
}
.htm:hover {
  color: rgb(195, 77, 45);
}
.cs:hover {
  color: rgb(55, 76, 218);
}
.js:hover {
  color: rgb(235, 221, 61);
}
.node:hover {
  color: rgb(148, 187, 44);
}
.git:hover {
  color: rgb(216, 62, 32);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
/* @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
} */

@media only screen and (max-width: 400px) {
  .about-main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .about-text {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    letter-spacing: 0;
    font-weight: 500;
  }
  .user {
    height: 6.5rem;
    width: 6.5rem;
  }
  .about-name {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }
  .skill-chart {
    font-size: 2rem;
    width: 100vw;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .aboutWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-box {
    display: flex;
    height: 50px;
    margin: 0 30%;
    padding-bottom: 60px;
  }
  .about-text {
    font-size: 13px;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
  .user {
    height: 100px;
    width: 100px;
    position: relative;
  }
  .about-name {
    display: flex;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0.1rem;
  }
}
