@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap');

@fontface {
    font-family: 'Yantramanav', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');
  }
* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;   
}

.aboutWrapper{
    font-family: 'Yantramanav', sans-serif;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
    height: 100vh;
    width: 100vh;
}

.about-box{
    height: 100%;
    width: 100%;
}

.about-textBox{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    backface-visibility: hidden; 
}

.about-name{
    font-family: 'Yantramanav', sans-serif;
    display: block;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: .2rem;
    background: url('../../Images/title2.jpg');
    background-size: 100% 100%;
    color:transparent;  
    -webkit-background-clip:text;
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
   
}

.about-text{
    font-family: 'Yantramanav', sans-serif;
    font-size: 22px;
    /* font-weight: 400; */
    display: block;
    font-weight: 200;
    letter-spacing: .2rem;
    text-align: justify;
    opacity: 0.85;
    margin-top: 16px;
    color:white;
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}
.img-box{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    }  

.user {
    display: block;
    position: absolute;
    width: 200px;
    height:200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../../Images/thiago.jpg');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
@keyframes moveInLeft{
    /* where animation should start */
    0%{
        opacity: 0;
        transform: translateX(-10rem);
        /* x means the position that I want my animation to start! */
    }

    80%{
        transform: translateX(1rem);
    }
    /* finish */
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media only screen and (max-width: 400px) {
    .aboutWrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center; /* Red */
    }
    .about-box{
        width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        display: flex;
        height: 20px;
        position: relative;
        margin-left: 35%;
    }
    .about-text{
        font-size: 10px;
        display: flex;
        text-align: center;
    }
    .user{
        height: 50px;
        width: 50px;
    }
    .about-name{
        display: flex;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: .1rem;
        margin-top: 50px;
    }
    
  }
  
  /* Tablet Styles */
  
  
  
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .aboutWrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Red */
    }
    .about-box{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        display: flex;
        height: 50px;
        margin: 0 30%;
        padding-bottom: 60px;
    }
    .about-text{
        font-size: 13px;
        display: flex;
        text-align: center;
        margin: 0 auto;
    }
    .user{
        height: 100px;
        width: 100px;
        position: relative;
    }
    .about-name{
        display: flex;
        font-size: 50px;
        font-weight: 800;
        letter-spacing: .1rem;
    }
  }
  
  /* Desktop Styles */
 