@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700,800,900&display=swap");

@fontface {
  font-family: "Yantramanav", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Yantramanav&display=swap");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.headerWrapper {
  font-family: "Yantramanav", sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  width: 100vh;
}

.textBox {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.subtext {
  display: flex;
  flex-direction: column;
}

.header-name {
  font-family: "Yantramanav", sans-serif;
  display: block;
  font-size: 105px;
  font-weight: 800;

  letter-spacing: 0.2rem;
  background: url("../../Images/title2.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  animation: background 15s linear infinite;
}

.header-text {
  font-family: "Yantramanav", sans-serif;
  font-size: 32px;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: justify;
  opacity: 0.85;
  margin-top: 1px;
  padding-left: 20px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
.header-subText {
  font-family: "Yantramanav", sans-serif;
  font-size: 32px;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-align: justify;
  opacity: 0.85;
  margin-top: 1px;
  padding-left: 20px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.header-subSubText {
  font-family: "Yantramanav", sans-serif;
  font-size: 15px;
  display: block;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-align: justify;
  opacity: 0.85;
  margin-top: 1px;
  padding-left: 20px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes background {
  0% {
    background-position: left 0px top 0px;
  }
  40% {
    background-position: left 800px top 0px;
  }
}

@media only screen and (max-width: 400px) {
  .headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .header-name {
    font-size: 4rem;
  }
  .headerWrapper {
    margin: 0 auto;
  }
  .header-text {
    font-size: 1.2rem;
  }
  .header-subText {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-name {
    font-size: 65px;
  }
  .header-text {
    font-size: 20px;
  }
  .header-subText {
    font-size: 20px;
  }
}
